<main>
  <div class='container'>
    <div class='row'>
      <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-7'>
        <h1 class="px-3 mx-auto m-5"><strong>利用規約</strong></h1>
        <div>
        <h5>「そざいばこ」の素材を使う人へ</h3>
          <ul>
            <li>そざいばこに投稿された作品は無料で使用することができます</li>
            <li>利用時の連絡等は不要です</li>
            <li>加工なども自由に行ってください</li>
            <li>ただし、著作権の譲渡はしておりません</li>
            <li>そのため、加工した作品そのものを自作のものとして使用するのは禁止です</li>
          </ul>
        </div>
        <div>
        <h5>「そざいばこ」に素材を投稿する人へ</h3>
          <ul>
            <li>投稿可能な素材は自身に著作権があるものに限ります</li>
            <li>二次創作作品の投稿はしないでください</li>
            <li>投稿した作品には本利用規約が適用されます</li>
            <li>公序良俗に反する作品の投稿はご遠慮ください</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>